.status__text{
    font-weight: 700;
    line-height: 1.6;
    padding-left: 25px;
    .status__text_name{
      font-size: 18px;
    }
    .status__text_sign{
      font-size: 14px;
      opacity: .5;
    }
    .status__text_input{
      height: 18px;
      font-size: 15px;
      padding-bottom: 4px;
    }
}

.status__icon{
    height: 25px;
    width: 25px;
    opacity: .8;
}

.status{
    display: flex;
    align-items: center;
    margin: 30px 0;
}