.page_active{
    font-weight: 700;
    font-size: 17px;
    padding: 0 5px;
    color: #00FF7F;
}

.pages__container{
    color: white;
    opacity: .75;
    display: flex;
    justify-content: center;
}

.page{
    transition: .3s;
    padding: 0 5px;
    cursor: pointer;
}

.button_next{
    opacity: .75;
    height: 25px;
}

.button_prev{
    transform: rotate(180deg);
    font-weight: 700;
    opacity: .75;
    height: 25px;
}

.button{
    cursor: pointer;
}