.user{
    display: flex;
    align-items: center;
}

.user__noavatar{
    width: 55px;
    height: 55px;  
    border-radius: 50px;
    border: 2px black solid;
}

.user__avatar{
    border: 2px black solid;
    border-radius: 50px;
    width: 55px;
    height: 55px;  
}

.user__description{
    padding-left: 5px;
    font-size: 17px;
}

.user__description_status{
    opacity: 0.7;
    font-size: 14px;
}