.aboutMe{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.aboutMe__icon{
    height: 25px;
    width: 25px;
    opacity: .4;
}

.aboutMe__text{
    font-weight: 700;
    line-height: 1.6;
    padding-left: 25px;
    .aboutMe__field_text{
        font-size: 18px;
        line-height: 1;
    }
    .aboutMe__sign{
        font-size: 14px;
        opacity: .4;
      }
}

.aboutMe__title{
    font-weight: 700;
}

.aboutMe__button_check{
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: .3s;
    cursor: pointer;
}

.aboutMe__button_check:hover{
    opacity: 1;
}

.aboutMe__field {
    display: flex;
    line-height: 0.5;
    align-items: center;
    height: 29px;
}

.aboutMe__field_button{
    opacity: 0.5;
    transition: .3s;
    cursor: pointer;
    padding: 0 0 2px 10px;
}

.aboutMe__field_button:hover{
    opacity: 1;
}

.aboutMe__textarea{
    height: 18px;
    width: 335px;
    background-color: #f9f3ea;
    resize: none;
    outline: none;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: 15px;
}