.header{
  grid-area: header;
  background-color: #23282B;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  align-items: center;
  border-radius: 10px;
  height: 65px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px  #00FF7F;
}

.header__top{
  display: flex;
  align-items: center;
}

.header__top_name{
  padding-left:20px;
  color: white;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  font-weight:700;
  }

.header__top_logo{
  padding-left: 15px;
}

.header__login{
  display: flex;
  color: white;
  font-size: 18px;
  font-weight:700;
  align-items: center;
  text-align: right;
  margin: 0 30px;
  cursor: pointer;
}

.header__login_button{
  margin: 0 20px;
  border-color: black;
}

.login__avatar_container{
  background-color: black;
  display: flex;
  height: 53px;
  width: 53px;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  border-radius: 50px;
  .header__login_avatar{
    height: 50px;
    border-radius: 50px;
  }
}

@media(max-width: 768px){
  .header{
    display: none;
  }   
}

