.nav{
    grid-area: nav;
    background-color: #BEA895;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px  #6F4E37;
    margin-right: 10px;
    width: 180px;
    height: 620px;
  }

.nav__list{
  font-size: 18px;
  list-style-type: none;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
  transition: .3s;
  display: inline-block;
}

a:hover{
  transform: scale(1.05);
}

.active{
  transform: scale(1.15);
}
