.nav{
  grid-area: nav;
  background-color: #23282B;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px  #00FF7F;
  width: 180px;
  height: 600px;
}

.mobilenav{
  display: none;
}

.nav__list{
  margin: 40px 0;
  font-size: 18px;
  list-style-type: none;
  font-weight: 500;
  line-height: 1.6;
}

a {
  text-decoration: none;
  padding: 5px 0;
  color: white;
  opacity: .8;
  transition: .3s;
  display: inline-block;
}

a:hover{
  transform: scale(1.1);
}

.active{
  transform: scale(1.15);
}

@media(max-width: 768px){
  .nav{
    display: none;
  }
  .mobilenav{
    display: block;
    width: 250px;
  }
  .nav__list{
    margin: 70px 0;
    line-height: 2;
    font-size: 25px;
  }
}