.content__top_avatar{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .content__avatar_photo{
    border: 2.5px solid;
    height: 150px;
    width: 150px;
    border-radius: 80px;
  }
}
  
.content__top_description{
  color: white;
  opacity: .9;
  list-style-type: none;
  font-family: sans-serif;
  line-height: 1.6;
  padding-inline-start: 30px;
  margin-top: 50px;
}
  
.content__top{
  margin: 50px auto;
  width: 440px;
}

.content__avatar_input{
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  }

.content__avatar_button{
  border: solid 5px #00FF7F;
  background-color: #00FF7F;
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
  
.content__avatar_container{
  margin-bottom: 30px;
  cursor: pointer;
  transition: .3s;
  &:hover{
    transform: scale(1.1);
  }
}

.content__description_item{
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.description__item_icon{
  height: 25px;
  width: 25px;
  opacity: .8;
}

.description__item_text{
  font-weight: 700;
  line-height: 1.6;
  padding-left: 25px;
  .item__text_name{
    font-size: 18px;
  }
  .item__text_sign{
    font-size: 14px;
    opacity: .5;
  }
}