.login__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1315px; 
    height: 600px;  
}

.login {
    background-color: #23282B;
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
    width: 420px;
    height: 260px;
}

.login__top {
    opacity: .8;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
}

.login__rememberMe {
    display: flex;
    align-items: center;
    font-size: 15px;
    opacity: .8;
    margin: 10px 40px;
}

.login__button_container {
    text-align: center;
}

.login__button{
    background-color:#00FF7F;
    opacity: .9;
    font-size: 15px;
    font-weight: 500;
    color: white;
    width: 100px;
    height: 35px;
    margin:  5px 0 20px 0;
    border-radius: 50px;
    transition: .3s;
}

.login__button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.errorMessage{
    margin: 5px 45px;
    color: red;
    font-weight: 700;
}

.login__captcha{
    text-align: center;
    margin: 10px 0;
}

.login__captcha_img{
    width: 130px;    
}

.login__captcha_input{
    width: 130px;
    height: 15px;
}