.message{
    display: flex;
    align-items: center;
    max-width: 300px;
    word-wrap: break-word;
}

.message__inner{
    background-color: #23282B;
    color: white;
    display:inline-block;
    padding: 7px 10px 7px 20px;
    border-radius: 6px 12px 12px 1px;
}

.message__photo{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: black 2px solid;
    margin: 3px;
}

.message__name{
    text-align: left;
    font-size: 12px;
    padding-bottom: 4px;
    font-weight: 700;
}

.mymessage__inner{
    max-width: 300px;
    word-wrap: break-word;
    text-align: left;
    background-color: #8774e1;
    display:inline-block;
    padding: 7px 20px 7px 10px;
    border-radius: 12px 6px 1px 12px;
}

